div.header__wrapper__titles
	h1.header__title.title__color--primary Bhagas
		span.title__color--secondary kara

	h2.header__subtitle Fusce rutrum pretium lorem semper nulla

	p.header__description Lorem ipsum is a pseudo-Latin text used in web design, typography, layout
