nav.header__menu
	ul.header__menu__lista
		li.header__menu__item.header__item__down(title="Ir para sobre")
			span.icon-svg
			a.header__menu__link(href="#about") sobre

		li.header__menu__item.header__item__down(title="Ir para time")
			span.icon-user
			a.header__menu__link(href="#") time

		li.header__menu__item(title="Ir para serviços")
			span.icon-bubble2
			a.header__menu__link(href="#") serviços

		li.header__menu__item(title="Ir para portfolio")
			span.icon-file-text
			a.header__menu__link(href="#") portfolio

		li.header__menu__item.header__item__down(title="Ir para blog")
			span.icon-pencil2
			a.header__menu__link(href="#") blog

		li.header__menu__item.header__item__down(title="Ir para contato")
			span.icon-envelop
			a.header__menu__link(href="#") contato



div.header__wrapper__iconDown
	a.header__icon--down.tooltip(href="#submenu", data-tooltip="Ir para sobre")
		span.icon-circle-down
