doctype html

html(lang="pt-br")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="Página criada somente para estudos e criação de portfolio")
		title Bkagaskara

		//inline
		//endbuild
		link(rel="shortcut icon" href="img/favicon.png")
		link(rel="preload", href="fonts/Roboto/Roboto-Regular.ttf", as="font", type="font/ttf", crossorigin="anonymous")
		link(rel="preload", href="fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf", as="font", type="font/ttf", crossorigin="anonymous")
		link(rel="stylesheet", href="css/abouve-default.css", inline)

	body
		//- template header
		include templates/header/header-template.jade 

		
		
		//- scripts
		//build:js vendor/cssrelpreload.js async
		script(src="../vendor/cssrelpreload.js", async)
		//endbuild

		//build:js vendor/loadcss.js async
		script(src="../vendor/loadcss.js", async)
		//endbuild
