.about__wrapper {
	margin-top: 8em;

	@media #{$medium} {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.about__content__image {

	img {
		width: 100%;
	}
}

.about__content__image,
.about__content__description {

	margin: 0 auto;
	padding: .5em;
	max-width: 450px;
	
	@media #{$medium} {

		max-width: 100%;
		padding: 0;
		width: 49%;
	}
}

.about__content__image {
	
	@media #{$medium} {
		padding-right: .5em;
	}

	@media #{$large} {
		width: 60%;
	}	
}

.about__content__description {

	@media #{$medium} {

		display: flex;
		flex-direction: column;
		padding-left: .5em;

		.about__text {
			flex-grow: 1;
		}
	}

	@media #{$large} {
		width: 40%;
	}
}

.about__text {
	margin-bottom: 1em;

	@media #{$medium} {
		margin-bottom: 0;
	}
}