.submenu__nav { background: #f1f0f1; padding: .5em; }

.submenu__lista { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.submenu__item { min-width: 100px; padding: .1em; }

.submenu__link { background: #5f3889; border-radius: .5em; color: #f1f0f1; display: block; padding: .8em .5em; text-align: center; }

@media (min-width: 768px) { .submenu__link { background: none; color: #3a3e40; -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }
  .submenu__link:hover { background: #382d57; color: #f1f0f1; } }
