h2.title__page Sobre

div.about__wrapper

	figure.about__content__image
		img.about__image(data-src="img/about-devices.png", alt="Imagem Desktop, Notebook, Tablet e Celular", title="Imagem Desktop, Notebook, Tablet e Celular")

	div.about__content__description
		p.about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

		a.button.button--primary(title="Leia mais") Leia mais