@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon/fonts/icomoon.eot?8ry46q');
  src:  url('fonts/icomoon/fonts/icomoon.eot?8ry46q#iefix') format('embedded-opentype'),
    url('fonts/icomoon/fonts/icomoon.ttf?8ry46q') format('truetype'),
    url('fonts/icomoon/fonts/icomoon.woff?8ry46q') format('woff'),
    url('fonts/icomoon/fonts/icomoon.svg?8ry46q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil2:before {
  content: "\e906";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-user:before {
  content: "\e971";
}
.icon-glass2:before {
  content: "\e9a1";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-google:before {
  content: "\ea88";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-svg:before {
  content: "\eae9";
}
