// purple
$purple-one-light: #5f3889;
$purple-two-dark:#382d57;

// white
$white-one-light: #fff;
$white-two-dark: #f1f0f1;

// gray
$gray-one: #3a3e40;
$gray-two: #eee;
$gray-three: #607d8b;


//menu
$rgba-purple: rgba(95, 56, 137, .9);
$rgba-gray: rgba(255, 255, 255, 0);