html {

	@media #{$medium} {
		font-size: 106%; /*17px*/
	}

	@media #{$large} {
		font-size: 112%; /*18px*/
	}
}

html,
body,
.header {
	height: 100%;
}

.header {
	background: $purple-one-light;
	background-image: url("img/destaque-header-small.jpeg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;


	@media (min-width: 400px) {
		background-image: url("img/destaque-header-medium.jpeg");
	}

	@media #{$large} {
		background-image: url("img/destaque-header-large.jpeg");
	}
}

.header__wrapper__titles {
	text-align: center;
	color: $white-two-dark;
}

.header__title {
	color: $purple-one-light;
	padding: .2em;
	text-shadow: 1px 1px 1px $white-two-dark;

	span {
		color: $purple-two-dark;
		font-family: $font-title;
		font-size: 1em;
	}
}

.header__subtitle {
	color: rgb(96, 125, 139);
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: .5em;
    text-shadow: 1px 0px 0px $white-one-light;
}


// menu
.header__menu {

	margin-top: .5em;

	@media (min-width: 500px) {
	    left: 50%;
	    margin-top: auto;
		position: absolute;
	    top: 50%;
	    transform: translate(-50%, -50%);
	    width: 100%;
	}
}

.header__menu__item,
.header__menu__link,
.header__icon--down {
	color: $white-two-dark;
}

.header__menu__lista {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.header__menu__item {
	background: rgba(95, 56, 137, .9);
	border: 2px solid rgba(255, 255, 255, 0);
	border-radius: .5em;
	margin: .2em;
	padding: 1em 1.6em;
	transition: all .5s;
	width: 100px;

	span {
		display: block;
	}

	.header__menu__link {
		display: block;
		font-size: 1.1em;
	}

	@media #{$medium} {
		padding: 1.2em .5em;
		border-radius: 100%;
		width: 118px;
	}

	@media #{$large} {
		padding: 1.5em .5em;
		width: 136px;

		&:hover {
			background: $purple-two-dark;
			border: 2px solid $white-two-dark;
		}
	}
}

.header__menu__item span {
	font-size: 2.2em;
	margin-bottom: .2em;
}

.header__wrapper__iconDown {
	bottom: .1em;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.header__icon--down {
	font-size: 1.8em;
}

.header__item__down {

	@media #{$medium} {
		position: relative;
		top: 100px;
	}
}