div.info__block
	span.icon-briefcase.info__icon

	header.info__header
		h2.info__title Lorem ipsum

	footer.info__footer
		p.info__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

div.info__block
	span.icon-mug.info__icon

	header.info__header
		h2.info__title Lorem ipsum

	footer.info__footer
		p.info__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

div.info__block
	span.icon-glass2.info__icon

	header.info__header
		h2.info__title Lorem ipsum

	footer.info__footer
		p.info__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

div.info__block
	span.icon-mobile.info__icon

	header.info__header
		h2.info__title Lorem ipsum

	footer.info__footer
		p.info__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.