nav.submenu__nav#submenu
	ul.submenu__lista
		li.submenu__item
			a.submenu__link(href="#about", title="Ir para sobre") sobre

		li.submenu__item
			a.submenu__link(href="#", title="Ir para time") time

		li.submenu__item
			a.submenu__link(href="#", title="Ir para serviços") serviços

		li.submenu__item
			a.submenu__link(href="#", title="Ir para portfolio") portfolio

		li.submenu__item
			a.submenu__link(href="#", title="Ir para blog") blog

		li.submenu__item
			a.submenu__link(href="#", title="Ir para contato") contato