div.submenu__open
	button.open__menu(title="Abrir menu")

nav.submenu__nav#submenu

	ul.submenu__lista

		div.submenu__close
			button.close__menu(title="Fechar menu")

		li.submenu__item
			a.icon-svg.submenu__icon__mobile(href="#about", title="Ir para sobre")
			a.submenu__link(href="#about", title="Ir para sobre") sobre

		li.submenu__item
			a.icon-user.submenu__icon__mobile(href="#", title="Ir para time")
			a.submenu__link(href="#", title="Ir para time") time

		li.submenu__item
			a.icon-bubble2.submenu__icon__mobile(href="#", title="Ir para serviços")
			a.submenu__link(href="#", title="Ir para serviços") serviços

		li.submenu__item
			a.icon-file-text.submenu__icon__mobile(href="#", title="Ir para portfólio")
			a.submenu__link(href="#", title="Ir para portfólio") portfólio

		li.submenu__item
			a.icon-pencil2.submenu__icon__mobile(href="#", title="Ir para blog")
			a.submenu__link(href="#", title="Ir para blog") blog

		li.submenu__item
			a.icon-envelop.submenu__icon__mobile(href="#", title="Ir para blog")
			a.submenu__link(href="#", title="Ir para contato") contato