/******** reset ********/
* { box-sizing: border-box; }

html { font-size: 100%; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border: 0; margin: 0; padding: 0; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; }

a, img { border: 0; }

input:focus { outline: none; }

input, select { vertical-align: middle; }

@font-face { font-family: "Roboto"; src: url("fonts/Roboto/Roboto-Regular.ttf"); }

@font-face { font-family: "Open_Sans"; src: url("fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf"); }

h1, h2, h3, h4, h5, h6 { font-family: "Roboto", "Arial", "Verdana", "Helvetica", "Times", "New Roman", "sans-serif"; font-weight: bold; }

h1 { font-size: 3em; /*48px*/ }

h2 { font-size: 2.6em; /*42px*/ }

h3 { font-size: 2.25em; /*36px*/ }

h4 { font-size: 1.8em; /*30px*/ }

h5 { font-size: 1.5em; /*24px*/ }

h6 { font-size: 1.3em; /*22px*/ }

p, a, span, input, label, textarea, button { font-family: "Open_Sans", "Arial", "Verdana", "Helvetica", "Times", "New Roman", "sans-serif"; font-size: 1.3em; /*22px*/ line-height: 1.5em; }

@font-face { font-family: 'icomoon'; src: url("fonts/icomoon/fonts/icomoon.eot?8ry46q"); src: url("fonts/icomoon/fonts/icomoon.eot?8ry46q#iefix") format("embedded-opentype"), url("fonts/icomoon/fonts/icomoon.ttf?8ry46q") format("truetype"), url("fonts/icomoon/fonts/icomoon.woff?8ry46q") format("woff"), url("fonts/icomoon/fonts/icomoon.svg?8ry46q#icomoon") format("svg"); font-weight: normal; font-style: normal; }

[class^="icon-"], [class*=" icon-"] { /* use !important to prevent issues with browser extensions that change fonts */ font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; /* Better Font Rendering =========== */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-pencil2:before { content: "\e906"; }

.icon-file-text:before { content: "\e922"; }

.icon-envelop:before { content: "\e945"; }

.icon-mobile:before { content: "\e958"; }

.icon-bubble2:before { content: "\e96e"; }

.icon-user:before { content: "\e971"; }

.icon-glass2:before { content: "\e9a1"; }

.icon-mug:before { content: "\e9a2"; }

.icon-briefcase:before { content: "\e9ae"; }

.icon-circle-up:before { content: "\ea41"; }

.icon-circle-right:before { content: "\ea42"; }

.icon-circle-down:before { content: "\ea43"; }

.icon-circle-left:before { content: "\ea44"; }

.icon-google:before { content: "\ea88"; }

.icon-facebook:before { content: "\ea90"; }

.icon-tumblr:before { content: "\eab9"; }

.icon-svg:before { content: "\eae9"; }

.container { margin-left: auto; margin-right: auto; padding: .5em; width: 100%; }

html, body, .header { height: 100%; }

.header { background: #5f3889; background-image: url("img/destaque-header-small.jpeg"); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; position: relative; }

.header__wrapper__titles { background: rgba(255, 255, 255, 0.8); border-radius: 1em; color: #f1f0f1; left: 50%; position: absolute; text-align: center; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.header__link__logo { font-size: inherit; }

.header__title { color: #5f3889; padding: .2em; }

.header__title span { color: #382d57; font-family: "Roboto", "Arial", "Verdana", "Helvetica", "Times", "New Roman"; font-size: 1em; }

.header__subtitle { color: #3a3e40; font-size: 1.5em; font-weight: normal; margin-bottom: .5em; }

.header__menu { display: none; }

.header__menu__item, .header__menu__link, .header__icon--down { color: #f1f0f1; }

.header__menu__lista { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; text-align: center; }

.header__menu__item { background: rgba(95, 56, 137, 0.9); border: 2px solid rgba(255, 255, 255, 0); border-radius: .5em; margin: .2em; padding: 1em 1.6em; -webkit-transition: all .5s; transition: all .5s; width: 100px; }

.header__menu__item span { display: block; }

.header__menu__item .header__menu__link { display: block; font-size: 1.1em; }

.header__menu__item span { font-size: 2.2em; margin-bottom: .2em; }

.header__wrapper__iconDown { bottom: .1em; left: 50%; position: absolute; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.header__icon--down { text-shadow: 0 0 10px #3a3e40; font-size: 1.8em; }

@media (min-width: 400px) { .header { background-image: url("img/destaque-header-medium.jpeg"); } }

@media (min-width: 768px) { .container { max-width: 768px; }
  .tooltip { position: relative; -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }
  .tooltip:hover:before { background: black; bottom: 70px; content: ""; height: 1em; position: absolute; -webkit-transform: translate(15%, 40%) rotate(45deg); -ms-transform: translate(15%, 40%) rotate(45deg); transform: translate(15%, 40%) rotate(45deg); width: 1em; }
  .tooltip:hover:after { background: black; border-radius: .5em; content: attr(data-tooltip); font-size: .6em; position: absolute; right: 50%; text-align: center; top: -150%; -webkit-transform: translateX(50%); -ms-transform: translateX(50%); transform: translateX(50%); width: 300%; }
  html { font-size: 106%; /*17px*/ }
  .header__wrapper__titles { padding: .5em; position: static; margin: 0 auto; -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); width: 500px; }
  .header__menu { display: block; left: 50%; margin-top: auto; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 100%; }
  .header__menu__item { padding: 1.2em .5em; border-radius: 100%; width: 118px; }
  .header__item__down { position: relative; top: 100px; } }

@media (min-width: 1150px) { .container { max-width: 1150px; }
  html { font-size: 112%; /*18px*/ }
  .header { background-image: url("img/destaque-header-large.jpeg"); }
  .header__menu__item { padding: 1.5em .5em; width: 136px; }
  .header__menu__item:hover { background: #382d57; border: 2px solid #f1f0f1; } }
