.button--primary { background: #5f3889; border: none; border-radius: .4em; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); color: #fff; cursor: pointer; display: block; padding: .6em; text-align: center; -webkit-transition: all .4s ease-in-out; transition: all .4s ease-in-out; width: 100%; }

.submenu__nav { background: rgba(95, 56, 137, 0.9); border-radius: 90% 0 0; bottom: 0; height: 260px; margin: 0; max-width: 260px; padding: .5em; position: fixed; opacity: 0; right: 0; -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; width: 100%; z-index: -1; }

.menu__fixed--top { top: 0 !important; }

.open__menu, .close__menu { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: 0 0; border: 0; color: #fff; cursor: pointer; font-size: 1.6em; text-indent: -999em; outline: 0; }

.submenu__open, .submenu__close { background: #5f3889; bottom: .5em; border-radius: 100%; cursor: pointer; padding: .4em .2em; position: fixed; right: .5em; }

.submenu__close { background: #fff; padding: 1.2em 1.4em; }

.open__menu { border-bottom: 0.125em solid #fff; border-top: 0.375em double #fff; height: 0; margin: 0.5em; padding-top: .125em; vertical-align: middle; width: 1em; }

.close__menu { color: #5f3889; }

.close__menu:before { content: 'X'; left: 50%; font-weight: bold; position: absolute; text-indent: 0; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.menu__active .submenu__nav { opacity: 1; z-index: 1; }

.menu__active:after { content: ""; display: block; position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, 0.5); }

.submenu__lista { position: relative; }

.submenu__item { padding: .1em; position: absolute; }

.submenu__item:nth-child(2) { right: 0; top: 0; }

.submenu__item:nth-child(3) { right: 58px; top: 9px; }

.submenu__item:nth-child(4) { left: 80px; top: 38px; }

.submenu__item:nth-child(5) { left: 37px; top: 81px; }

.submenu__item:nth-child(6) { left: 10px; top: 134px; }

.submenu__item:nth-child(7) { left: 0; top: 190px; }

.submenu__link, .submenu__icon__mobile { background: #5f3889; border-radius: .3em; color: #fff; display: none; padding: .5em 0; text-align: center; }

.submenu__icon__mobile { background: #fff; border-radius: 100%; color: #5f3889; display: block; padding: .7em; }

.info { background: #eee; }

.info .container { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: .5em; }

.info__block { margin: .5em auto; max-width: 280px; text-align: center; }

.info__icon { background: #fff; border: 2px solid #5f3889; border-radius: 100%; color: #5f3889; display: inline-block; font-size: 4em; margin: .3em; padding: .5em; }

.info__title, .info__description { color: #3a3e40; }

.info__title { margin-bottom: .5em; font-size: 1.8em; }

.about__title { color: #3a3e40; font-weight: normal; padding: 3em 0; text-align: center; }

.about__title:before, .about__title:after { content: "''"; color: #5f3889; }

.about__content__image img { width: 100%; }

.about__content__image, .about__content__description { margin: 0 auto; padding: .5em; max-width: 450px; }

.about__text { margin-bottom: 1em; }

@media (min-width: 768px) { .submenu__nav { background: #5f3889; border-radius: 0; height: 76px; left: 0; max-width: 100%; opacity: 1; -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out; top: -999px; width: 100%; z-index: 1; }
  .open__menu, .close__menu { display: none; }
  .submenu__open, .submenu__close { display: none; }
  .menu__active:after { display: none; }
  .submenu__lista { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .submenu__item { min-width: 100px; position: relative; }
  .submenu__item:nth-child(2), .submenu__item:nth-child(3), .submenu__item:nth-child(4), .submenu__item:nth-child(5), .submenu__item:nth-child(6), .submenu__item:nth-child(7) { left: auto; right: auto; top: auto; }
  .submenu__link, .submenu__icon__mobile { background: none; color: #fff; display: block; -webkit-transition: all .5s ease-in-out; transition: all .5s ease-in-out; }
  .submenu__link:hover, .submenu__icon__mobile:hover { background: #f1f0f1; color: #3a3e40; }
  .submenu__icon__mobile { display: none; }
  .about__wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
  .about__content__image, .about__content__description { max-width: 100%; width: 49%; }
  .about__content__description { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
  .about__content__description .about__text { -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; }
  .about__text { margin-bottom: 0; } }

@media (min-width: 1150px) { .button--primary:hover { background: #382d57; }
  .info__block { padding: .5em; }
  .about__content__image { width: 60%; }
  .about__content__description { width: 40%; } }
