.button--primary {

	background: $purple-one-light;
	border: none;
	border-radius: .4em;
	box-shadow: 2px 2px 10px $rgba-black;
	color: $white-one-light;
	cursor: pointer;
	display: block;
	padding: .6em;
	text-align: center;
	transition: all .4s ease-in-out;
	width: 100%;

	@media #{$large} {

		&:hover {
			background: $purple-two-dark;
		}
	}

}