.header {
	background: $purple-one-light;
	background-image: url("img/destaque-header-small.jpeg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;


	@media (min-width: 400px) {
		background-image: url("img/destaque-header-medium.jpeg");
	}

	@media #{$large} {
		background-image: url("img/destaque-header-large.jpeg");
	}
}

.header__wrapper__titles {
	background: $rgba-white;
	border-radius: 1em;
	color: $white-two-dark;
    left: 50%;
	position: absolute;
	text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);

    @media #{$medium} {
	    padding: .5em;
    	position: static;
	    margin: 0 auto;
	    transform: translate(0,0);
	    width: 500px;
    }
}

.header__link__logo {
	font-size: inherit;
}

.header__title {
	color: $purple-one-light;
	padding: .2em;
	// text-shadow: 1px 1px 1px $white-two-dark;

	span {
		color: $purple-two-dark;
		font-family: $font-title;
		font-size: 1em;
	}
}

.header__subtitle {
	color: $gray-one;
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: .5em;
    // text-shadow: 1px 0px 0px $white-one-light;
}